<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841070652935-j22f8cfam8qo1kccuu3qd24f2444io4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841070652935-j22f8cfam8qo1kccuu3qd24f2444io4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBPUeJJaA0YFsT9jEamH_QiGdgpC7bC8iw</string>
	<key>GCM_SENDER_ID</key>
	<string>841070652935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.lipetsk.stu.lkapp</string>
	<key>PROJECT_ID</key>
	<string>lstu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lstu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841070652935:ios:e81aa2cb07f93c1b8d44a2</string>
</dict>
</plist>